{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title">{{ post.title }}</h1>
        <p class="text-muted">By {{ post.author }} on {{ post.published_date|date:"F j, Y" }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3">
        {% endif %}
        <div class="card-text">
            {{ post.content }}
        </div>
    </div>
</div>
<a href="{% url 'post_list' %}" class="btn btn-secondary">Back to All Posts</a>
{% endblock %}
