{% extends "blog/base.html" %}
{% load form_tags %}

{% block title %}Create a New Post{% endblock %}
{% block content %}
<h1 class="mb-4">Create a New Post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ form.content.label_tag }}
        {{ form.content|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ form.categories.label_tag }}
        {{ form.categories|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ form.image.label_tag }}
        {{ form.image|add_class:"form-control-file" }}
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
